# Basic Data Access

Demonstrates opening a case and retrieving component data using indexing.

The primary way to open a case is to instantiate a `GridWorkBench` object. For these examples, a `case_path` variable is created in a hidden cell that reads from `case.txt`. The code below shows the syntax used for initialization.

```python
from esapp import GridWorkBench
from esapp.components import *

wb = GridWorkBench(case_path)
```

In [6]:
# This cell is hidden in the documentation.
# It performs the actual case loading for the example.
from esapp import GridWorkBench
from esapp.components import *
import ast

with open('case.txt', 'r') as f:
    case_path = ast.literal_eval(f.read().strip())

wb = GridWorkBench(case_path)

'open' took: 3.6752 sec

## Retrieve Component Data

The primary interface for accessing power system data is through the indexing syntax `wb[ComponentType, fields]`, which returns a pandas DataFrame. This provides a flexible way to extract and analyze component parameters.

In [2]:
bus_voltages = wb[Bus, "BusPUVolt"]
bus_voltages.head()

   BusNum  BusPUVolt
0       1   0.993545
1       2   0.991225
2       3   0.984548
3       4   0.978800
4       5   0.988985

Retrieve multiple fields at once and filter the results. Here we get all online generators with their power output:

In [3]:
gens = wb[Gen, ["GenMW", "GenStatus"]]
online_gens = gens[gens["GenStatus"] == "Closed"]
online_gens.head()

   BusNum GenID      GenMW GenStatus
0       2     1   2.500000    Closed
1       2     2   2.500000    Closed
2       2     3   2.500000    Closed
3       2     4   2.500000    Closed
4      23     1  69.274741    Closed

## Modify Component Data

Use the indexing syntax to update component parameters. Setting a field to a scalar value broadcasts it to all components of that type:

In [4]:
wb[Gen, "GenMW"] = 100.0

## Verify Modification

Read the modified values to confirm the update:

In [5]:
wb[Gen, "GenMW"].head(10)

   BusNum GenID  GenMW
0       2     1  100.0
1       2     2  100.0
2       2     3  100.0
3       2     4  100.0
4      23     1  100.0
5      23    10  100.0
6      23     2  100.0
7      23     3  100.0
8      23     4  100.0
9      23     5  100.0