# Basic Data Access

Demonstrates opening a case and retrieving component data using indexing.

In [ ]:
from gridwb import *

wb = GridWorkBench(r"case.pwb")

'open' took: 3.0141 sec

In [2]:
buses = wb[Bus, "BusName"]
gens  = wb[Gen, ["GenMW", "GenStatus"]]

isClosed    = gens["GenStatus"] == "Closed"
online_gens = gens[isClosed]

wb[Bus, "BusPUVolt"].head(5)

   BusNum  BusPUVolt
0       1   0.993545
1       2   0.991225
2       3   0.984548
3       4   0.978800
4       5   0.988985

Modify Data

In [3]:
wb[Gen, "GenMW"] = 100.0

### Verify Modification

Read Modified Case

In [5]:
wb[Gen, "GenMW"]

    BusNum GenID  GenMW
0        2     1  100.0
1        2     2  100.0
2        2     3  100.0
3        2     4  100.0
4       23     1  100.0
5       23    10  100.0
6       23     2  100.0
7       23     3  100.0
8       23     4  100.0
9       23     5  100.0
10      23     6  100.0
11      23     7  100.0
12      23     8  100.0
13      23     9  100.0
14      26     1  100.0
15      26     2  100.0
16      27     1  100.0
17      27     2  100.0
18      28     1  100.0
19      28     2  100.0
20      33     1  100.0
21      34     1  100.0
22      34     2  100.0
23      34     3  100.0
24      34     4  100.0
25      34     5  100.0
26      34     6  100.0
27      35     1  100.0
28      35     2  100.0
29      35     3    0.0
30      35     4  100.0
31      35     5  100.0
32      35     6    0.0
33      35     7  100.0
34      35     8  100.0
35      36     1  100.0
36      36     2  100.0
37      36     3  100.0
38      36     4  100.0
39      37     1    0.0
40      37     2    0.0
41      37     3  100.0
42      37     4    0.0
43      37     5  100.0
44      37     6    0.0