# Contingency Analysis

Automating N-1 contingency analysis and retrieving results.

Import the case and instantiate the `GridWorkBench`.

```python
from esapp import GridWorkBench
from esapp.components import *

wb = GridWorkBench(case_path)
```

In [1]:
# This cell is hidden in the documentation.
# It performs the actual case loading for the example.
from esapp import GridWorkBench
from esapp.components import *
import ast

with open('case.txt', 'r') as f:
    case_path = ast.literal_eval(f.read().strip())

wb = GridWorkBench(case_path)

'open' took: 4.1178 sec

## Automated N-1 Contingency Analysis

ESAplus provides built-in support for N-1 contingency analysis through the SAW interface. First, create and solve contingencies for all branches:

In [2]:
wb.pflow()  # Solve base case first
wb.auto_insert_contingencies()  # Create N-1 contingencies
wb.solve_contingencies()  # Solve all contingency scenarios

## Retrieve Violations

After solving contingencies, retrieve all violations found during the analysis:

In [3]:
violations = wb[ViolationCTG, :]
violations.head()

,AggrMVAOverload,AggrPercentOverload,AllLabels,AreaName,AreaName:1,AreaName:2,AreaName:3,AreaName:4,AreaName:5,AreaNum,...,ZoneName,ZoneName:1,ZoneName:2,ZoneName:3,ZoneName:4,ZoneName:5,ZoneNum,ZoneNum:1,ZoneNum:2,ZoneNum:3
0,0.675115,0.673096,,Oahu,1,Oahu,Oahu,Oahu,Oahu,1,...,1,1,1,1,1,1,1,1,1,1
1,0.675115,0.673096,,Oahu,1,Oahu,Oahu,Oahu,Oahu,1,...,1,1,1,1,1,1,1,1,1,1
2,0.675115,0.673096,,Oahu,1,Oahu,Oahu,Oahu,Oahu,1,...,1,1,1,1,1,1,1,1,1,1
3,0.675115,0.673096,,Oahu,1,Oahu,Oahu,Oahu,Oahu,1,...,1,1,1,1,1,1,1,1,1,1
4,0.675115,0.673096,,Oahu,1,Oahu,Oahu,Oahu,Oahu,1,...,1,1,1,1,1,1,1,1,1,1