In [1]:
from gridwb import *

# Case File
CASE = r"C:\Users\wyattluke.lowery\OneDrive - Texas A&M University\Research\Cases\North East 25k\ACTIVSg25k.pwb"

# Open Gridworkbench
wb = GridWorkBench(CASE)

'open' took: 5.3830 sec

Example 1: Retrieve Buses (Key Fields Only)

In [2]:
wb[Bus]

,AreaNum,BusName,BusName_NomVolt,BusNomVolt,BusNum,ZoneNum
0,11,NEWBERRY 1,NEWBERRY 1_138.0,138.0,11001,1
1,11,NEWBERRY 2,NEWBERRY 2_69.00,69.0,11002,1
2,11,NEWBERRY 3,NEWBERRY 3_18.00,18.0,11003,1
3,11,NEWBERRY 4,NEWBERRY 4_1.000,1.0,11004,1
4,11,NEWBERRY 5,NEWBERRY 5_138.0,138.0,11005,1
...,...,...,...,...,...,...
24995,71,RIVERSIDE 3 1,RIVERSIDE 3 1_100.0,100.0,71173,1
24996,71,RIVERSIDE 3 2,RIVERSIDE 3 2_13.80,13.8,71174,1
24997,71,RIVERSIDE 3 3,RIVERSIDE 3 3_100.0,100.0,71175,1
24998,71,RIVERSIDE 3 5,RIVERSIDE 3 5_100.0,100.0,71176,1
24999,71,JOHNSTON 5 1,JOHNSTON 5 1_100.0,100.0,71177,1