In [ ]:
from gridwb.workbench import *

# Case File
DIR = r"C:\Users\wyattluke.lowery\OneDrive - Texas A&M University\Research\Oscillations\Modal SGWT (Journal)"
CASE = f"{DIR}\Case\ACTIVSg2000_250421.pwb"

# Open Gridworkbench
wb = GridWorkBench(CASE)

'open' took: 3.7851 sec

Example 1: Retrieve Buses (Key Fields Only)

In [4]:
cmd = 'GICSaveGMatrix("GIC_GMatrix.mat", "GIC_GMatrix_IDs.txt")'

wb.io.esa.RunScriptCommand(cmd)

In [2]:
wb[Bus]

,BusNum,BusName_NomVolt,AreaNum,BusName,BusNomVolt,ZoneNum
0,1001,ODESSA 2 0_115.0,1,ODESSA 2 0,115.0,9
1,1002,PRESIDIO 2 0_115.0,1,PRESIDIO 2 0,115.0,9
2,1003,O DONNELL 1 0_115.0,1,O DONNELL 1 0,115.0,9
3,1004,O DONNELL 1 1_230.0,1,O DONNELL 1 1,230.0,9
4,1005,BIG SPRING 5 0_115.0,1,BIG SPRING 5 0,115.0,9
...,...,...,...,...,...,...
1995,8156,BREMOND 1_230.0,8,BREMOND 1,230.0,7
1996,8157,BREMOND 2_115.0,8,BREMOND 2,115.0,7
1997,8158,BRYAN 1 0_500.0,8,BRYAN 1 0,500.0,7
1998,8159,BRYAN 1 1_230.0,8,BRYAN 1 1,230.0,7
1999,8160,BRYAN 1 2_115.0,8,BRYAN 1 2,115.0,7